*{
    margin: 0;
    padding: 0;
}
body{
    background-color: rgb(34, 34, 34);
    padding: 20px;
}

#chartLocation, #chartLocation table{
    color: #ffffff;
}

#chartLocation{
    border: 1px solid #eeeeee;
    display: inline-block;
    width: 600px;
    height: 480px;
}

#chartLocation table{
    margin: 10px;
    border-collapse: collapse;
    height: auto;
}

#chartLocation table td{
    padding-bottom: 3px;
}

#chartLocation table .title{
    font-size: 4vw;
}

#chartLocation table .count, #chartLocation table .votes{
    display: inline-block;
    width: 30px;
    text-align: center;
}

#chartLocation table .bar{
    display: inline-block;
    max-width: 510px;
    min-width: 510px;
    text-align: left;
    overflow: hidden;
    text-overflow: ellipsis;
}
#chartLocation table .bar span{
    display: inline-block;
    background-color: red;
    white-space: nowrap;
    font-size: 4vw;
}

body input[type="color"]{
    padding: 2px!important;
}
#lblDimensions{
    color: #ffffff;
}