@font-face {
    font-family: "Cyberpunk";
    src: url("BlenderPro-Bold.woff2");
}

.img-container,
.container {
    position: relative;
    display: block;
    margin: 0;
}

.container {
    width: 560px;
    padding: 0;
    opacity: 1;
    display: flex;
    flex-direction: column;
}
canvas {
    position: absolute;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
}

#img-container {
    width: 350px;
    height: 350px;
}

.img-container {
    order: 1;
}

.container.right .img-container {
    float: right;
    margin-left: 37%;
}

.container.top .img-container {
    order: 2;
    margin-top: -52px;
}

.meters-container {
    display: flex;
    flex-direction: column;
    margin-top: -50px;
    order: 2;
}

.container.top .meters-container {
    order: 1;
    margin-top: 0;
}

.tag {
    order: 1;
}

.container.top .tag {
    margin-top: -17px;
    order: 1;
}

.overshield-container {
    text-align: left;
    background: #fcee0a;
    padding-top: 5px;
    padding-left: 4px;
    order: 2;
}

.overshield {
    display: inline-block;
    width: 100px;
    margin: 0 2px;
    height: 18px;
    background: #02d7f2;
    border: solid #000 2px;
    border-radius: 30px;
    background-image: url("data:image/svg+xml,%3Csvg width='16' height='20' viewBox='0 0 16 20' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%2329a8b8' fill-opacity='0.50' fill-rule='evenodd'%3E%3Cpath d='M8 0v20L0 10M16 0v10L8 0M16 10v10H8'/%3E%3C/g%3E%3C/svg%3E"), linear-gradient(to bottom, #02d7f2, #29a8b8);
    background-size: 15%;
    box-shadow: inset 0px 5px 12px 0px #FFFFFF;
}

.progress-container {
    padding: 2px 5px 6px;
    border-radius: 3px;
    border-bottom: none;
    background: #fcee0a;
    order: 3;
}

.progress-bar {
    width: 100%;/*remove this*/
    float: none;
    height: 25px;
    border-radius: 30px;
    transition: 0.4s linear;
    border: solid 2px #000;
    background: #FF003C;
    transition-property: width, background-color;
    background-image: url("data:image/svg+xml,%3Csvg width='16' height='20' viewBox='0 0 16 20' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%23ca0030' fill-opacity='0.25' fill-rule='evenodd'%3E%3Cpath d='M8 0v20L0 10M16 0v10L8 0M16 10v10H8'/%3E%3C/g%3E%3C/svg%3E");
    background-size: 1em;
    box-shadow: inset 0px 5px 12px 0px #FFFFFF;
}

.footer,
.header {
    display: block;
    height: 25px;
    width: 100%;
    background-size: contain;
}

.footer {
    background-image: url(../images/razor-bottom-left.svg);
    order: 4;
}

.header {
    display: none;
}

.container.top .header {
    display: block;
    background-image: url(../images/razor-top-left.svg);
}

.container.top .footer {
    display: none;
}

.name-container {
    order: 1;
    height: 54px;
}

.container.top .name-container {
    order: 4;
}

img {
    height: 350px;
    width: 350px;
}

.tag {
    font-family: 'Cyberpunk', sans-serif;
    color: #000;
    margin: 0;
    font-size: 50px;
    text-align: center;
    padding: 0;
    display: inline-block;
    float: right;
    overflow: hidden;
    position: relative;
}

.container.right .tag {
    float: left;
}

.tag::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
    background-image: url(../images/razor-bottom-yellow.svg);
    background-size: cover;
    transform: rotate(-180deg);
    background-repeat: repeat-x;
    background-position-y: 17px;
    background-position-x: 77em;
}

.container.top .tag::before {
    transform: rotate(0deg);
}

.shake-vertical{-webkit-animation:shake-vertical .8s cubic-bezier(.455,.03,.515,.955) both;animation:shake-vertical .8s cubic-bezier(.455,.03,.515,.955) both}
/* ----------------------------------------------
* Generated by Animista on 2020-12-5 19:30:42
* Licensed under FreeBSD License.
* See http://animista.net/license for more info. 
* w: http://animista.net, t: @cssanimista
* ---------------------------------------------- */

@-webkit-keyframes shake-vertical{0%,100%{-webkit-transform:translateY(0);transform:translateY(0)}10%,30%,50%,70%{-webkit-transform:translateY(-2px);transform:translateY(-2px)}20%,40%,60%{-webkit-transform:translateY(2px);transform:translateY(2px)}80%{-webkit-transform:translateY(1.2px);transform:translateY(1.2px)}90%{-webkit-transform:translateY(-1.2px);transform:translateY(-1.2px)}}@keyframes shake-vertical{0%,100%{-webkit-transform:translateY(0);transform:translateY(0)}10%,30%,50%,70%{-webkit-transform:translateY(-2px);transform:translateY(-2px)}20%,40%,60%{-webkit-transform:translateY(2px);transform:translateY(2px)}80%{-webkit-transform:translateY(1.2px);transform:translateY(1.2px)}90%{-webkit-transform:translateY(-1.2px);transform:translateY(-1.2px)}}
